.pessoa__imagem{
    height: 300px;
    margin: 0 auto;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.logo__imagem--empresa{
    background-image: url(../../img/empresa/Facebook/facebook_profile_1000x1000.png);
    

}